<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="aboutModalLabel">About This Site</h4>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li class="list-group-item text-primary"><strong>Designed by <a href="https://github.com/brightcloudy">Ryan Karl</a></strong></li>
          <li><a class="list-group-item" href="https://github.com/brightcloudy/bcdesign-rails">Source available on GitHub</a></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">OK</button> 
      </div>
    </div>
  </div>
</div>
