<div class="footer">
  <nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
      <p class="navbar-text navbar-left text-muted"><%= Time.now.getlocal("-05:00").strftime("%c EST") %></p>
      <button class="btn btn-link about-btn btn-xs navbar-btn navbar-right" type="button" data-toggle="modal" data-target="#aboutModal"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span></button>
    </div>
  </nav>
</div>
