@import "bootstrap.min";
@import "projects";
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.img-rounded.img-center {
  margin: 0 auto;
}
.img-responsive.img-center {
  margin: 0 auto;
}
input[type=file] {
  margin: 0 auto;
}
