@import "bootstrap.min";
@import "projects";
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.img-rounded.img-center {
  margin: 0 auto;
}
.img-responsive.img-center {
  margin: 0 auto;
}
input[type=file] {
  margin: 0 auto;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
body { 
  padding-bottom: 70px; 
  background-color: lighten(#000, 93.5%);
}
.col-opaque {
  background-color: #fff;
}
.panel, .thumbnail, .carousel-inner {
  box-shadow: 0 0 30px black;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 4em; /* .push must be the same height as .footer */
}
